# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle/
build/

# Eclipse
.project
.classpath
.c9/
.settings/
.metadata/
bin/
tmp/

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# WildFly / JBoss / GlassFish deployment folders
standalone/tmp/
standalone/data/
standalone/log/
standalone/deployments/

# Local environment variables
.env

# Backup files
*~
*.bak
*.swp
*.swo
